body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1133px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:472px;
}
#u6959 {
  position:absolute;
  left:102px;
  top:90px;
  width:1031px;
  height:472px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:228px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
