body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:454px;
}
#u5325 {
  position:absolute;
  left:37px;
  top:44px;
  width:1020px;
  height:454px;
}
#u5326 {
  position:absolute;
  left:2px;
  top:219px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
