<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <classPathEntry location="D:\\workspace\\mysql-connector-java-5.1.24-bin.jar"/>
    <!-- <context id="DB2Tables" targetRuntime="MyBatis3"> -->
    <context id="DB2Tables" targetRuntime="com.ccs.generator.TkMyBatis3Impl">
        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter"
                  value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="xmlFormatter"
                  value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin">
        </plugin>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin">
            <property name="suppressJavaInterface" value="false"/>
        </plugin>
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin">
        </plugin>
        <commentGenerator type="com.ccs.generator.TkMyBatis3CommentGenerator2">
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="false"/>
            <property name="addRemarkComments" value="true"/>
        </commentGenerator>
        <!--数据库链接地址账号密码 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.92.242.3:13566/ifpdb" userId="tomcat"
                        password="tomcat@n22">
            <!-- <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://10.0.66.148:3306/bjlifedb"
                userId="tongyiuatceshidb" password="tongyiuatceshidb@01"> -->
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置 -->
        <javaModelGenerator targetPackage="com.ifp.common.entity.act"
                            targetProject="ifp-common-model">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="ifp-act-service">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置 -->
        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码 type="ANNOTATEDMAPPER",生成Java Model
            和基于注解的Mapper对象 type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象 type="XMLMAPPER",生成SQLMap
            XML文件和独立的Mapper接口 -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.ifp.act.dao" targetProject="ifp-act-service">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--生成对应表及类名 -->
        <table tableName="t_attendance_workdays" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true"
               enableDeleteByPrimaryKey="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" selectByPrimaryKeyQueryId="true"
               mapperName="{0}Dao">
        </table>
        <table tableName="t_attendance_rule_person" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true"
               enableDeleteByPrimaryKey="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" selectByPrimaryKeyQueryId="true"
               mapperName="{0}Dao">
        </table>
        <table tableName="t_attendance_rule_attribute" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true"
               enableDeleteByPrimaryKey="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" selectByPrimaryKeyQueryId="true"
               mapperName="{0}Dao">
        </table>
        <table tableName="t_attendance_rule_addre" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true"
               enableDeleteByPrimaryKey="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" selectByPrimaryKeyQueryId="true"
               mapperName="{0}Dao">
        </table>
        <table tableName="t_attendance_rule" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true"
               enableDeleteByPrimaryKey="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" selectByPrimaryKeyQueryId="true"
               mapperName="{0}Dao">
        </table>
        <table tableName="t_attendance_organ_count" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true"
               enableDeleteByPrimaryKey="true" enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true" selectByPrimaryKeyQueryId="true"
               mapperName="{0}Dao">
        </table>
    </context>
</generatorConfiguration>